.reviewList {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 90%;
}
.reviewItem {
  outline: 1px dashed black;
  outline-offset: 5px;
  border-radius: 1px;
  padding: 1px 20px;
  width: 90%;
}
.reviewAuthor {
  font-size: 18px;
  font-weight: 500;
}
