@import '../node_modules/modern-normalize/modern-normalize.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(200, 200, 200);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ol,
ul {
  list-style-type: none;
}
header {
  padding: 0 40px;
  box-shadow: 0 3px 5px gray;
}
nav {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.nothingFound {
  font-size: 28px;
  margin-left: 15px;
}
